---
import Base from "../layouts/Base.astro";
import NavBar from "../components/NavBar.astro";
import Hero from "../components/Hero.astro";
import News from "../components/News.astro";
import Publications from "../components/Publications.astro";
import Footer from "../components/Footer.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<Base>
  <NavBar>
    <ThemeToggle slot="theme-toggle" />
  </NavBar>

  <main class="mx-auto max-w-[56rem] px-6 md:px-8 pb-8">
    <Hero />
    <Publications />
    <News />
    <Footer />
  </main>
</Base>
